<script lang="ts" setup>
import { ref } from "vue";
import { productStore } from "@/stores/product";
// const myProduct = ref<{ id: number; name: string; price: number }[]>([]);
// const sum = ref(0);
// const addProducts = (item: { id: number; name: string; price: number }) => {
//   myProduct.value.push(item);
//   sum.value += item.price;
// };
const pStore = productStore();
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="7">
        <v-container style="height: 75vh; overflow: auto">
          <v-row>
            <v-col
              cols="4"
              v-for="(item, index) in productStore().products"
              :key="index"
            >
              <v-card>
                <v-card-title class="text-center">{{ item.name }}</v-card-title>
                <h3 class="text-center">{{ item.price }}</h3>
                <v-card-actions class="justify-center">
                  <v-btn elevation="2" @click="pStore.AddProduct(item)">
                    Add
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="5">
        <v-container style="height: 75vh; overflow: auto">
          <v-table>
            <thead>
              <tr>
                <th class="text-left">id</th>
                <th class="text-left">name</th>
                <th class="text-left">price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="product in pStore.listOrders" :key="product.id">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
              </tr>
            </tbody>
          </v-table>
          <h4
            v-if="pStore.listOrders.length === 0"
            class="mt-3"
            style="text-align: center; width: 100%"
          >
            No Data
          </h4>
        </v-container>
        <h1 class="mt-5">Sum: {{ pStore.sum }}</h1>
      </v-col>
    </v-row>
  </v-container>
  <!-- <div>
    {{ productStore }}
  </div> -->
</template>
