<script lang="ts" setup>
import { ref, watch } from "vue";
import type { VForm } from "vuetify/components";

const valid = ref(true);
const text = ref("0");
const numInput = ref(0);
const form = ref<VForm | null>(null);
async () => {
  const { valid } = await form.value!.validate();
  if (!valid) {
    numInput.value = 0;
  }
};

watch(
  () => text.value,
  () => {
    if (text.value == "") {
      numInput.value = 0;
    } else {
      numInput.value = parseInt(text.value);
    }
  }
);
</script>

<template>
  <v-container>
    <v-form ref="form" v-model="valid">
      <v-text-field
        class="mt-10"
        label="Please input Number"
        v-model="text"
        :rules="[(v) => !!v || 'Number is not empty!!']"
        required
      ></v-text-field>
    </v-form>
    <v-container style="height: 75vh; overflow: auto">
      <v-row>
        <v-col cols="1" v-for="item of numInput" :key="item">{{ item }}</v-col>
      </v-row>
    </v-container>
  </v-container>
</template>

<style scoped></style>
