<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { counterStore } from "@/stores/counter";
// import { ref} from "vue";
// const count = ref(useCounterStore());
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <FirstComponent></FirstComponent>
        <v-btn @click="counterStore().increment">INCREMENT</v-btn>
      </v-col>
      <v-col>
        <SecondComponent></SecondComponent>
        <v-btn @click="counterStore().decrement">DECREASE</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
