<script setup lang="ts">
import { ref } from "vue";
const show = ref("./feeling_imgs/smile.png");
const text = ref("Smile");
const changeColor = ref(6);
function img(feeling: string) {
  show.value = feeling;
}
function status(textShow: string) {
  text.value = textShow;
}
function changeButton(color: number) {
  changeColor.value = color;
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="7">
        <v-img style="margin: 50px; padding: 10vw 60vh" :src="show"></v-img>
      </v-col>
      <v-col>
        <v-row class="justify-center">
          <v-col>
            <h1>{{ text }}</h1>
            <v-btn
              class="btn"
              height="30px"
              @click="
                img('./feeling_imgs/angry.png'),
                  status('Angry'),
                  changeButton(1)
              "
              :color="changeColor === 1 ? 'yellow' : 'none'"
              block
              >ANGRY</v-btn
            >
            <v-btn
              height="30px"
              class="mt-4"
              @click="
                img('./feeling_imgs/cute.png'), status('Cute'), changeButton(2)
              "
              :color="changeColor === 2 ? 'yellow' : 'none'"
              block
              >CUTE</v-btn
            >
            <v-btn
              height="30px"
              class="mt-4"
              @click="
                img('./feeling_imgs/excited.png'),
                  status('Excited'),
                  changeButton(3)
              "
              :color="changeColor === 3 ? 'yellow' : 'none'"
              block
              >EXCITED</v-btn
            >
            <v-btn
              height="30px"
              class="mt-4"
              @click="
                img('./feeling_imgs/pain.png'), status('Pain'), changeButton(4)
              "
              :color="changeColor === 4 ? 'yellow' : 'none'"
              block
              >PAIN</v-btn
            >
            <v-btn
              height="30px"
              class="mt-4"
              @click="
                img('./feeling_imgs/shocked.png'),
                  status('Shocked'),
                  changeButton(5)
              "
              :color="changeColor === 5 ? 'yellow' : 'none'"
              block
              >SHOCKED</v-btn
            >
            <v-btn
              height="30px"
              class="mt-4"
              @click="
                img('./feeling_imgs/smile.png'),
                  status('Smile'),
                  changeButton(6)
              "
              :color="changeColor === 6 ? 'yellow' : 'none'"
              block
              >SMILE</v-btn
            >
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
h1 {
  text-align: center;
  font-size: 50pt;
}
</style>
