<script setup lang="ts">
import { ref, computed } from "vue";
import { defineStore } from "pinia";

const counterStore = defineStore("counter", () => {
  const count = ref(0);
  const doubleCount = computed(() => count.value * 2);
  function increment() {
    count.value++;
  }
  // function decrement() {
  //   count.value = count.value > 0 ? (count.value -= 1) : count.value;
  //   console.log(count.value);
  // }
  return { count, doubleCount, increment };
});
</script>
<template>
  <div>First Component</div>
  <div>{{ counterStore().count }}</div>
</template>
